{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Title{% endblock %}</title>
    <script src="{% static 'javascript/jquery-3.7.js'%}"></script>
    <link rel="stylesheet" href="{% static 'dir/style.css' %}" />
  </head>

  <body class="text-lg font-normal min-h-screen bg-[#F8F9FA] relative">
    <div id="popup" class="fixed bg-gray-600/90 w-screen h-screen hidden items-center justify-center">
      <div class="mx-auto">
        <a href="#" class="block max-w-xl p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
          <h5 class="mb-2 h-128 overflow-y-auto text-2xl font-bold tracking-tight text-gray-900 dark:text-white">#</h5>
        </a>
      </div>
    </div>

    {% include "./header.html" %}
    <!--- Header comes here -->

    <!-- prettier-ignore -->
    <div class="flex flex-col justify-between min-h-200">
    {% block main %}
    <!--- main body comes here -->
    {% endblock %}

    <!-- prettier-ignore -->
    {% include "./footer.html" %}
    </div>

    <script>
      $("#popup").on("click", function (e) {
        if (e.target === this) {
          $(this).removeClass("flex");
          $(this).addClass("hidden");
        }
      });
    </script>
  </body>
</html>
