<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style type="text/tailwindcss">
      @theme {
        --color-clifford: #da373d;
      }
    </style>
  </head>
  <body class="text-lg font-normal">
    <header class="sticky top-0 bg-white">
      <div class="container mx-auto px-10 lg:px-0">
        <div class="flex-row lg:flex lg:justify-between items-center pt-8 pb-2 border-b-2 border-[#dedede]">
          <div>
            <a href="./home.html" class="flex-row justify-center justify-items-center lg:flex items-center gap-3">
              <img src="./images/logo.png" class="w-15 h-15 mx-auto" alt="" />
              <h2 class="font-bold text-center">Sangguniang Bayan</h2>
            </a>
          </div>
          <nav>
            <ul class="flex gap-5 font-semibold justify-between mt-3">
              <li><a href="./home.html">Home</a></li>
              <li><a href="./publication.html">Publications</a></li>
              <li class="text-red-500 text-xl font-bold"><a href="./aboutus.html">About Us</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <main>
      <div class="container mx-auto px-10 lg:px-0">
        <h2 class="font-bold text-4xl my-10 text-center">Incumbent Elected Officials</h2>

        <div class="flex gap-5 lg:gap-x-20 lg:gap-y-10 justify-center flex-wrap mb-5">
          <div class="first:w-full justify-items-center">
            <div class="w-65 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
              <a href="#" class="flex justify-center mx-5 mt-5 border-3 rounded-md">
                <img class="rounded-t-lg" src="./images/johndoe.png" alt="" />
              </a>
              <div class="p-2 text-center">
                <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">John Doe</h5>
                <p class="mb-2 font-normal text-gray-700 dark:text-gray-400">Municipal Vice Mayor</p>
              </div>
            </div>
          </div>
          <div class="first:w-full justify-items-center">
            <div class="w-65 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
              <a href="#" class="flex justify-center mx-5 mt-5 border-3 rounded-md">
                <img class="rounded-t-lg" src="./images/johndoe.png" alt="" />
              </a>
              <div class="p-2 text-center">
                <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">John Doe</h5>
                <p class="mb-2 font-normal text-gray-700 dark:text-gray-400">Municipal Councilor</p>
              </div>
            </div>
          </div>
          <div class="first:w-full justify-items-center">
            <div class="w-65 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
              <a href="#" class="flex justify-center mx-5 mt-5 border-3 rounded-md">
                <img class="rounded-t-lg" src="./images/johndoe.png" alt="" />
              </a>
              <div class="p-2 text-center">
                <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">John Doe</h5>
                <p class="mb-2 font-normal text-gray-700 dark:text-gray-400">Municipal Councilor</p>
              </div>
            </div>
          </div>
          <div class="first:w-full justify-items-center">
            <div class="w-65 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
              <a href="#" class="flex justify-center mx-5 mt-5 border-3 rounded-md">
                <img class="rounded-t-lg" src="./images/johndoe.png" alt="" />
              </a>
              <div class="p-2 text-center">
                <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">John Doe</h5>
                <p class="mb-2 font-normal text-gray-700 dark:text-gray-400">Municipal Councilor</p>
              </div>
            </div>
          </div>
          <div class="first:w-full justify-items-center">
            <div class="w-65 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
              <a href="#" class="flex justify-center mx-5 mt-5 border-3 rounded-md">
                <img class="rounded-t-lg" src="./images/johndoe.png" alt="" />
              </a>
              <div class="p-2 text-center">
                <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">John Doe</h5>
                <p class="mb-2 font-normal text-gray-700 dark:text-gray-400">Municipal Councilor</p>
              </div>
            </div>
          </div>
          <div class="first:w-full justify-items-center">
            <div class="w-65 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
              <a href="#" class="flex justify-center mx-5 mt-5 border-3 rounded-md">
                <img class="rounded-t-lg" src="./images/johndoe.png" alt="" />
              </a>
              <div class="p-2 text-center">
                <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">John Doe</h5>
                <p class="mb-2 font-normal text-gray-700 dark:text-gray-400">Municipal Councilor</p>
              </div>
            </div>
          </div>
          <div class="first:w-full justify-items-center">
            <div class="w-65 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
              <a href="#" class="flex justify-center mx-5 mt-5 border-3 rounded-md">
                <img class="rounded-t-lg" src="./images/johndoe.png" alt="" />
              </a>
              <div class="p-2 text-center">
                <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">John Doe</h5>
                <p class="mb-2 font-normal text-gray-700 dark:text-gray-400">Municipal Councilor</p>
              </div>
            </div>
          </div>
          <div class="first:w-full justify-items-center">
            <div class="w-65 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
              <a href="#" class="flex justify-center mx-5 mt-5 border-3 rounded-md">
                <img class="rounded-t-lg" src="./images/johndoe.png" alt="" />
              </a>
              <div class="p-2 text-center">
                <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">John Doe</h5>
                <p class="mb-2 font-normal text-gray-700 dark:text-gray-400">Municipal Councilor</p>
              </div>
            </div>
          </div>
          <div class="first:w-full justify-items-center">
            <div class="w-65 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
              <a href="#" class="flex justify-center mx-5 mt-5 border-3 rounded-md">
                <img class="rounded-t-lg" src="./images/johndoe.png" alt="" />
              </a>
              <div class="p-2 text-center">
                <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">John Doe</h5>
                <p class="mb-2 font-normal text-gray-700 dark:text-gray-400">Municipal Councilor</p>
              </div>
            </div>
          </div>
          <div class="first:w-full justify-items-center">
            <div class="w-65 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
              <a href="#" class="flex justify-center mx-5 mt-5 border-3 rounded-md">
                <img class="rounded-t-lg" src="./images/johndoe.png" alt="" />
              </a>
              <div class="p-2 text-center">
                <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">John Doe</h5>
                <p class="mb-2 font-normal text-gray-700 dark:text-gray-400">ABC President</p>
              </div>
            </div>
          </div>
          <div class="first:w-full justify-items-center">
            <div class="w-65 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
              <a href="#" class="flex justify-center mx-5 mt-5 border-3 rounded-md">
                <img class="rounded-t-lg" src="./images/johndoe.png" alt="" />
              </a>
              <div class="p-2 text-center">
                <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">John Doe</h5>
                <p class="mb-2 font-normal text-gray-700 dark:text-gray-400">IP Representative</p>
              </div>
            </div>
          </div>
          <div class="first:w-full justify-items-center">
            <div class="w-65 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
              <a href="#" class="flex justify-center mx-5 mt-5 border-3 rounded-md">
                <img class="rounded-t-lg" src="./images/johndoe.png" alt="" />
              </a>
              <div class="p-2 text-center">
                <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">John Doe</h5>
                <p class="mb-2 font-normal text-gray-700 dark:text-gray-400">SK Municipal Federation President</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
