{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'dir/style.css' %}" />
  </head>
  <body class="text-lg font-normal">
    <header>
      <div class="container mx-auto px-10 lg:px-0">
        <div class="flex-row lg:flex lg:justify-between items-center pt-8 pb-2 border-b-2 border-[#dedede]">
          <div>
            <a href="./home.html" class="flex-row justify-center justify-items-center lg:flex items-center gap-3">
              <img src="{% static './images/logo.png' %}" class="w-15 h-15 mx-auto" alt="" />
              <h2 class="font-bold text-center">Sangguniang Bayan</h2>
            </a>
          </div>
          <nav>
            <ul class="flex gap-5 font-semibold justify-between mt-3">
              <li class="text-red-500 text-xl font-bold"><a href="./home.html">Home</a></li>
              <li><a href="./publication.html">Publications</a></li>
              <li><a href="./aboutus.html">About Us</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <main>
      <div class="container mx-auto mt-11 px-10 lg:px-0">
        <div class="flex-row justify-items-center mb-10">
          <img src="{% static './images/logo.png' %}" class="w-50 h-50" alt="" />
          <h2 class="font-bold text-4xl mb-2">Sangguniang Bayan</h2>
          <h3 class="italic text-2xl">Brooke's Point, Palawan</h3>
        </div>
        <div class="text-justify">
          <p class="text-pretty indent-10 mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae orci a nibh consequat pretium ut ut lectus. Ut mauris libero, sagittis non consequat id, malesuada sed nisl. Vestibulum efficitur, libero non egestas gravida, velit urna malesuada est, eget consectetur nisi arcu sed dolor. Nullam facilisis elit sit amet lectus dignissim dictum. Proin molestie, arcu eget iaculis egestas, diam purus tempor tellus, non laoreet enim neque quis dolor. Morbi nec maximus eros. Vivamus pretium iaculis fermentum. Aenean non interdum nunc. Nunc et commodo eros. Fusce elementum magna sit amet lectus blandit porttitor. Mauris faucibus, est ac rutrum sagittis, diam turpis consequat velit, nec semper mi est et arcu. Integer venenatis placerat neque, ac aliquam turpis maximus ut. Etiam ultrices rhoncus justo, at placerat velit dignissim eu.</p>
          <p class="text-pretty indent-10 mb-3">Sed et vehicula erat. Aenean luctus lorem non mi pharetra, sed posuere urna aliquam. Vivamus lacinia enim a est fringilla, sit amet efficitur felis ornare. Nulla id metus augue. Ut iaculis dui sit amet ligula ornare egestas. Nunc id elit sem. Vestibulum id euismod nunc. In eleifend augue in nulla sollicitudin lacinia. Integer aliquet congue enim, eu pellentesque dui gravida sit amet. Duis sit amet dui ligula. Donec sit amet aliquam ligula. Etiam justo.</p>
          <p class="text-pretty indent-10 mb-3">Sed et vehicula erat. Aenean luctus lorem non mi pharetra, sed posuere urna aliquam. Vivamus lacinia enim a est fringilla, sit amet efficitur felis ornare. Nulla id metus augue. Ut iaculis dui sit amet ligula ornare egestas. Nunc id elit sem. Vestibulum id euismod nunc. In eleifend augue in nulla sollicitudin lacinia. Integer aliquet congue enim, eu pellentesque dui gravida sit amet. Duis sit amet dui ligula. Donec sit amet aliquam ligula. Etiam justo.</p>
        </div>
      </div>
    </main>

    <footer class="mt-11">
      <div class="container mx-auto lg:px-0 border-t-2 border-[#dedede]">
        <div class="flex justify-between px-5 py-2 lg:px-0">
          <span>© LGU Brooke’s Point </span>

          <div class="flex gap-5">
            <span><img src="{% static './images/facebook.png' %}" alt="" height="35" width="35" /></span>
            <span><img src="{% static './images/gmail.png' %}" alt="" height="35" width="35" /></span>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
