<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style type="text/tailwindcss">
      @theme {
        --color-clifford: #da373d;
      }
    </style>
  </head>
  <body class="text-lg font-normal">
    <header>
      <div class="container mx-auto px-10 lg:px-0">
        <div class="flex-row lg:flex lg:justify-between items-center pt-8 pb-2 border-b-2 border-[#dedede]">
          <div>
            <a href="./home.html" class="flex-row justify-center justify-items-center lg:flex items-center gap-3">
              <img src="./images/logo.png" class="w-15 h-15 mx-auto" alt="" />
              <h2 class="font-bold text-center">Sangguniang Bayan</h2>
            </a>
          </div>
          <nav>
            <ul class="flex gap-5 font-semibold justify-between mt-3">
              <li>
                <a href="./home.html">Home</a>
              </li>
              <li class="text-red-500 text-xl font-bold"><a href="./publication.html">Publications</a></li>
              <li><a href="./aboutus.html">About Us</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <main>
      <div class="container mx-auto px-10 lg:px-0">
        <div class="flex flex-col text-center mt-15">
          <h2 class="font-bold text-5xl mb-8">Sangguniang Bayan Publications</h2>
          <p class="text-justify mb-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere leo hendrerit viverra luctus. Etiam malesuada varius ante, ac auctor felis lacinia et. Etiam aliquam, nisi quis pretium imperdiet, mi tortor placerat magna, ac blandit turpis ligula non ipsum. Etiam id bibendum erat. In massa libero, fringilla ac finibus ut, tempus vitae ipsum. Vestibulum eu lacus varius, mollis nisl vel, tristique metus. Phasellus mi ligula, congue et nunc a, consectetur lacinia purus. Nullam eleifend dictum purus. Nullam dignissim tortor in pellentesque suscipit. Duis sollicitudin lacus aliquet justo maximus ullamcorper. Suspendisse potenti. Cras lacus urna, tempus vitae pharetra nec, dignissim id.</p>

          <div class="grid justify-items-center lg:grid-cols-3 gap-5 mb-10">
            <div class="w-full lg:w-85 p-10 flex flex-col gap-2 items-center border-2 border-solid border-[#D9D9D9] shadow-sm shadow-[#FFACAC] rounded-lg">
              <img src="./images/resolutions.png" alt="" class="w-40 h-50 mb-2" />
              <h2 class="font-bold text-xl mb-2">SB Resolutions</h2>
              <p class="text-pretty text-justify text-sm mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In efficitur ligula quis fringilla placerat. Sed et feugiat nisi. Donec porttitor.</p>
              <a href="./section.html"><button class="hover:bg-[#d83f41] hover:cursor-pointer border-1 border-transparent py-2 px-5 rounded-md shadow-sm shadow-black bg-[#ED585A] text-white text-xs">Learn More ></button></a>
            </div>
            <div class="w-full lg:w-85 p-10 flex flex-col gap-2 items-center border-2 border-solid border-[#D9D9D9] shadow-sm shadow-[#FFACAC] rounded-lg">
              <img src="./images/Orginance.png" alt="" class="w-40 h-50 mb-2" />
              <h2 class="font-bold text-xl mb-2">Municipal Ordinances</h2>
              <p class="text-pretty text-justify text-sm mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In efficitur ligula quis fringilla placerat. Sed et feugiat nisi. Donec porttitor.</p>
              <a href="./section.html"><button class="hover:bg-[#d83f41] hover:cursor-pointer border-1 border-transparent py-2 px-5 rounded-md shadow-sm shadow-black bg-[#ED585A] text-white text-xs">Learn More ></button></a>
            </div>
            <div class="w-full lg:w-85 p-10 flex flex-col gap-2 items-center border-2 border-solid border-[#D9D9D9] shadow-sm shadow-[#FFACAC] rounded-lg">
              <img src="./images/earmarked.png" alt="" class="w-40 h-50 mb-2" />
              <h2 class="font-bold text-xl mb-2">Appropriation Ordinances</h2>
              <p class="text-pretty text-justify text-sm mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In efficitur ligula quis fringilla placerat. Sed et feugiat nisi. Donec porttitor.</p>
              <a href="./section.html"><button class="hover:bg-[#d83f41] hover:cursor-pointer border-1 border-transparent py-2 px-5 rounded-md shadow-sm shadow-black bg-[#ED585A] text-white text-xs">Learn More ></button></a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
