<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style type="text/tailwindcss">
      @theme {
        --color-clifford: #da373d;
      }
    </style>
  </head>
  <body class="text-lg font-normal">
    <header>
      <div class="container mx-auto px-10 lg:px-0">
        <div class="flex-row lg:flex lg:justify-between items-center pt-8 pb-2 border-b-2 border-[#dedede]">
          <div>
            <a href="./home.html" class="flex-row justify-center justify-items-center lg:flex items-center gap-3">
              <img src="./images/logo.png" class="w-15 h-15 mx-auto" alt="" />
              <h2 class="font-bold text-center">Sangguniang Bayan</h2>
            </a>
          </div>
          <nav>
            <ul class="flex gap-5 font-semibold justify-between mt-3">
              <li>
                <a href="./home.html">Home</a>
              </li>
              <li class="text-red-500 text-xl font-bold"><a href="./publication.html">Publications</a></li>
              <li><a href="./aboutus.html">About Us</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <main>
      <div class="container mx-auto mt-11 px-10 lg:px-0">
        <div>
          <h2 class="font-bold text-4xl lg:mb-2">Sangguniang Bayan Resolutions</h2>
          <div class="border-t-2 p-3">
            <div class="flex border-[#dedede] border-b-1 py-5">
              <img src="./images/pdf.png" class="w-20 h-20 self-center mr-4" alt="" />
              <div>
                <h3 class="font-bold text-2xl text-blue-500 underline">Some Title Document Text here 2025 - #</h3>
                <p class="text-pretty text-justify text-sm italic mb-1">Monday, 11 August 2025</p>
                <p class="text-pretty">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In efficitur ligula quis fringilla placerat. Sed et feugiat nisi. Donec porttitor.</p>
              </div>
            </div>
            <div class="flex border-[#dedede] border-b-1 py-5">
              <img src="./images/pdf.png" class="w-20 h-20 self-center mr-4" alt="" />
              <div>
                <h3 class="font-bold text-2xl text-blue-500 underline">Some Title Document Text here 2025 - #</h3>
                <p class="text-pretty text-justify text-sm italic mb-1">Monday, 11 August 2025</p>
                <p class="text-pretty">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In efficitur ligula quis fringilla placerat. Sed et feugiat nisi. Donec porttitor.</p>
              </div>
            </div>
            <div class="flex border-[#dedede] border-b-1 py-5">
              <img src="./images/pdf.png" class="w-20 h-20 self-center mr-4" alt="" />
              <div>
                <h3 class="font-bold text-2xl text-blue-500 underline">Some Title Document Text here 2025 - #</h3>
                <p class="text-pretty text-justify text-sm italic mb-1">Monday, 11 August 2025</p>
                <p class="text-pretty">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In efficitur ligula quis fringilla placerat. Sed et feugiat nisi. Donec porttitor.</p>
              </div>
            </div>
            <div class="flex border-[#dedede] border-b-1 py-5">
              <img src="./images/pdf.png" class="w-20 h-20 self-center mr-4" alt="" />
              <div>
                <h3 class="font-bold text-2xl text-blue-500 underline">Some Title Document Text here 2025 - #</h3>
                <p class="text-pretty text-justify text-sm italic mb-1">Monday, 11 August 2025</p>
                <p class="text-pretty">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In efficitur ligula quis fringilla placerat. Sed et feugiat nisi. Donec porttitor.</p>
              </div>
            </div>
            <div class="flex border-[#dedede] border-b-1 py-5">
              <img src="./images/pdf.png" class="w-20 h-20 self-center mr-4" alt="" />
              <div>
                <h3 class="font-bold text-2xl text-blue-500 underline">Some Title Document Text here 2025 - #</h3>
                <p class="text-pretty text-justify text-sm italic mb-1">Monday, 11 August 2025</p>
                <p class="text-pretty">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In efficitur ligula quis fringilla placerat. Sed et feugiat nisi. Donec porttitor.</p>
              </div>
            </div>
            <div class="flex border-[#dedede] border-b-1 py-5">
              <img src="./images/pdf.png" class="w-20 h-20 self-center mr-4" alt="" />
              <div>
                <h3 class="font-bold text-2xl text-blue-500 underline">Some Title Document Text here 2025 - #</h3>
                <p class="text-pretty text-justify text-sm italic mb-1">Monday, 11 August 2025</p>
                <p class="text-pretty">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In efficitur ligula quis fringilla placerat. Sed et feugiat nisi. Donec porttitor.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
