{% extends "sections/base.html" %}
<!--prettier.ignore-->
{% load static %}

<!--prettier.ignore-->
{% block title %}Title{% endblock %}

<!--prettier.ignore-->
{% block main %}

<main>
  <div class="container mx-auto mt-11 px-10 lg:px-0">
    <div>
      <h2 class="font-bold text-4xl lg:mb-2">Sangguniang Bayan Resolutions</h2>
      <div class="border-t-2 p-3">
        <div class="flex border-[#dedede] border-b-1 py-5">
          <img
            src="{% static './images/pdf.png' %}"
            class="w-20 h-20 self-center mr-4"
            alt=""
          />
          <div>
            <h3 class="font-bold text-2xl text-blue-500 underline">Some Title Document Text here 2025 - #</h3>
            <p class="text-pretty text-justify text-sm italic mb-1">Monday, 11 August 2025</p>
            <p class="text-pretty">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In efficitur ligula quis fringilla placerat. Sed et feugiat nisi. Donec porttitor.</p>
          </div>
        </div>
        <div class="flex border-[#dedede] border-b-1 py-5">
          <img
            src="{% static './images/pdf.png' %}"
            class="w-20 h-20 self-center mr-4"
            alt=""
          />
          <div>
            <h3 class="font-bold text-2xl text-blue-500 underline">Some Title Document Text here 2025 - #</h3>
            <p class="text-pretty text-justify text-sm italic mb-1">Monday, 11 August 2025</p>
            <p class="text-pretty">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In efficitur ligula quis fringilla placerat. Sed et feugiat nisi. Donec porttitor.</p>
          </div>
        </div>
        <div class="flex border-[#dedede] border-b-1 py-5">
          <img
            src="{% static './images/pdf.png' %}"
            class="w-20 h-20 self-center mr-4"
            alt=""
          />
          <div>
            <h3 class="font-bold text-2xl text-blue-500 underline">Some Title Document Text here 2025 - #</h3>
            <p class="text-pretty text-justify text-sm italic mb-1">Monday, 11 August 2025</p>
            <p class="text-pretty">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In efficitur ligula quis fringilla placerat. Sed et feugiat nisi. Donec porttitor.</p>
          </div>
        </div>
        <div class="flex border-[#dedede] border-b-1 py-5">
          <img
            src="{% static './images/pdf.png' %}"
            class="w-20 h-20 self-center mr-4"
            alt=""
          />
          <div>
            <h3 class="font-bold text-2xl text-blue-500 underline">Some Title Document Text here 2025 - #</h3>
            <p class="text-pretty text-justify text-sm italic mb-1">Monday, 11 August 2025</p>
            <p class="text-pretty">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In efficitur ligula quis fringilla placerat. Sed et feugiat nisi. Donec porttitor.</p>
          </div>
        </div>
        <div class="flex border-[#dedede] border-b-1 py-5">
          <img
            src="{% static './images/pdf.png' %}"
            class="w-20 h-20 self-center mr-4"
            alt=""
          />
          <div>
            <h3 class="font-bold text-2xl text-blue-500 underline">Some Title Document Text here 2025 - #</h3>
            <p class="text-pretty text-justify text-sm italic mb-1">Monday, 11 August 2025</p>
            <p class="text-pretty">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In efficitur ligula quis fringilla placerat. Sed et feugiat nisi. Donec porttitor.</p>
          </div>
        </div>
        <div class="flex border-[#dedede] border-b-1 py-5">
          <img
            src="{% static './images/pdf.png' %}"
            class="w-20 h-20 self-center mr-4"
            alt=""
          />
          <div>
            <h3 class="font-bold text-2xl text-blue-500 underline">Some Title Document Text here 2025 - #</h3>
            <p class="text-pretty text-justify text-sm italic mb-1">Monday, 11 August 2025</p>
            <p class="text-pretty">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In efficitur ligula quis fringilla placerat. Sed et feugiat nisi. Donec porttitor.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
